<%= content_tag_for(:div, @todo_item, class: "todos newtodo") do %>

		 <% if @todo_item.done == true %>
			 <span class="handle"><i class="material-icons">reorder</i></span>
			 <%= link_to completed_todo_list_todo_item_path(@todo_list, @todo_item), method: :post, remote: true  do %>
					<%= check_box_tag(@todo_item.id, @todo_item.done, checked = true, class: "filled-in") %>
					<%= label_tag(@todo_item.id, "", class: "filled-in") %>
			 <% end %>
			 <%= label_tag(@todo_item.id.to_s + "-desc", @todo_item.description, class: "label-desc") %>

		<% else %>
			<span class="handle"><i class="material-icons">reorder</i></span>
			<%= link_to completed_todo_list_todo_item_path(@todo_list, @todo_item), method: :post, remote: true  do %>
				 <%= check_box_tag(@todo_item.id, @todo_item.done, checked = false, class: "filled-in") %>
				 <%= label_tag(@todo_item.id, "", class: "filled-in") %>
			<% end %>
			<%= label_tag(@todo_item.id.to_s + "-desc", @todo_item.description, class: "label-desc") %>
		<% end %>


		<div class= "wrap_menu">
			<span class="delete_cross">
				<%= link_to 'X', todo_list_todo_item_path(@todo_list, @todo_item),
										method: :delete,
										data: { confirm: 'Are you sure?' } %>
			</span>
			<span class= "edit_tag">
				<%= link_to "edit", edit_todo_list_todo_item_path(@todo_list, @todo_item), remote: true, class: "link_edit"  %>
			</span>
		</div>

<% end %>
