<%= form_for([@todo_list, @todo_item], remote: true) do |f| %>

	<div class="row form-todos">
	  <div class="input-field col s6">
			    <input id="fake_input_edit" class="filled-in" type="checkbox" value="true" name="fake_input_edit">
			    <%= f.label :description %><br>
			    <%= f.text_field :description, class: "validate", autocomplete: "off" %>
		</div>
	</div>

	 <%= f.label :notes %><br>
	   <div class="row form-todos" id= "wrap-trix_edit">
	     <%= f.hidden_field :notes %>
	 	  <trix-editor input= "todo_item_notes" ></trix-editor>
	   </div>

	  <%= f.submit "save change", class: "btn waves-light pink lighten-2" %>
		<div id="form-cancel-edit">
		  <%= link_to "cancel", "#", class: "btn waves-light pink lighten-2", id: "cancel-button-edit"%>
		</div>

<% end %>
