<h1>new to do list</h1>
<%= Time.now.strftime("%m-%e-%y %H:%M") %>

<%= form_for :todo_list, url: todo_lists_path do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
 
  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>