<h3>new to do list</h3>

<%= form_for :todo_list, url: todo_lists_path do |f| %>
	<div class="row">
		<div class="input-field col s6">
   	 	<%= f.label :title %><br>
    	<%= f.text_field :title, class: "validate"%>
  	</div>
	</div>
 
	<div class="row">
  	<div class="input-field col s6">
   	 <%= f.label :description %><br>
  		<%= f.text_field :description, class: "validate"%>
 	 	</div>
	</div>
	
  <p>
    <%= f.submit class: "btn waves-light" %>
  </p>
<% end %>
